.PetitionTabbar {
  height: 68px !important; }
  .PetitionTabbar__wrapper {
    display: flex;
    width: 100%; }
  .PetitionTabbar__wrapper > * {
    margin-right: 8px; }
  .PetitionTabbar__wrapper > *:last-child {
    margin-right: 0; }
