.PetitionCard {
  margin: 0;
  padding-bottom: 22px;
  position: relative; }
  .PetitionCard__title {
    margin: 0 28px 8px 0;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: var(--text_primary); }
  .PetitionCard__card {
    min-height: 187px;
    height: 50vw;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    margin: 0; }
  .PetitionCard__users-stack {
    margin: 12px 0 0 0 !important;
    padding: 0; }
    .PetitionCard__users-stack .UsersStack__text__link {
      pointer-events: none;
      cursor: default;
      text-decoration: none;
      color: inherit; }
  .PetitionCard__dots {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #aaaeb3; }
