@import "src/style/_vars.scss";

.PetitionCard {
  margin: 0;
  padding-bottom: 22px;
  position: relative;

  &__title {
    margin: 0 28px 8px 0;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    color: var(--text_primary);
  }

  &__card {
    min-height: 187px;
    height: 50vw;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    margin: 0;
  }

  &__users_stack {
    margin: 12px 0 0 0;
    padding: 0;
  }

  &__dots {
    position: absolute;
    top: 12px;
    right: 12px;
    color: $petition-card-dots-color;
  }
}
