$progress-text-font-size: 15px;
$progress-text-color: #76787a;
$progress-bar-done-color: #4bb34b;
$progress-bar-completed-color: #99a2ad;
$petition-creator-text-color: #76787a;
$petition-desktop-creator-text-color: #828282;
$petition-desktop-link-color: #2A5885;
$petitions-friends-card-text-color: #76787a;
$petition-signed-text-color: #4bb34b;
$petition-signed-button-text-color: #818c99;
$petition-create-upload-card-bottom-text-color: #909499;
$petition-create-upload-card-color: #3f8ae0;
$petition-create-mention-icon-color: #aaaeb3;
$petition-card-dots-color: #aaaeb3;
$petition-card-desktop-arrow-color: #C1C5CC;
$petition-done-icon-color: #4bb34b;
$petition-done-desktop-link-color: #2A5485;
$petition-done-desktop-back-color: #4B74A3;
$petition-desktop-back-color: #707D8C;
