$progress-text-font-size: 15px;
$progress-text-color: #76787a;
$progress-bar-done-color: #4bb34b;
$petition-creator-text-color: #76787a;
$petitions-friends-card-text-color: #76787a;
$petition-signed-text-color: #4bb34b;
$petition-create-upload-card-bottom-text-color: #909499;
$petition-create-mention-icon-color: #aaaeb3;
$petition-card-dots-color: #aaaeb3;
$petition-card-title-color: #000;
