body {
  margin: 0;
  padding: 0;
  background: #FFF;
  color: #000;
  direction: ltr;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none; }

body::-webkit-scrollbar {
  display: none; }
