body {
  margin: 0;
  padding: 0;
  background: #FFF;
  color: #000;
  direction: ltr;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none; }

body::-webkit-scrollbar {
  display: none; }

body[scheme="space_gray"] {
  --background_page: #0a0a0a; }

.Petition > .Panel__in {
  padding-bottom: calc(68px + var(--safe-area-inset-bottom)) !important; }

.Petition--signed > .Panel__in {
  padding-bottom: calc(102px + var(--safe-area-inset-bottom)) !important; }

.Petition__header .PanelHeader__in {
  transition: .15s; }

.Petition__header__hidden .PanelHeader__in {
  background: transparent !important; }

.Petition__header__shown .PanelHeader__in {
  background: var(--background_content) !important; }

.Petition__image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  display: inline-block; }
  .Petition__image img {
    width: 100%;
    height: 100%;
    min-height: 200px;
    object-fit: cover;
    object-position: 50% 0%; }
  .Petition__image:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0)); }

.Petition__info {
  padding-bottom: 0; }

.Petition__info h1 {
  font-size: 20px;
  margin: 0 0 14px 0 !important; }

.Petition__users_stack {
  margin: 12px 0 12px 0 !important;
  padding: 0; }

.Petition__creator {
  margin-top: 5px;
  margin-bottom: 5px; }
  .Petition__creator__link {
    font-weight: 600;
    margin-right: 4px; }

.Petition__creator .Cell__children {
  font-size: 14px;
  color: #76787a; }

.Petition__creator .Cell__main {
  margin-left: 12px; }

.Petition__link {
  font-weight: 600; }

.Petition .PullToRefresh--ios {
  margin-top: calc(0px - var(--safe-area-inset-top) - var(--panelheader_height_ios)) !important; }

.Petition .PullToRefresh--android {
  margin-top: calc(var(--safe-area-inset-top) - var(--panelheader_height_android)) !important; }
