@import "src/style/_vars.scss";

.PetitionTabbar {
  height: calc(102px + var(--safe-area-inset-bottom)) !important; // 68px
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: var(--safe-area-inset-bottom) !important;


  &__signed {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $petition-signed-text-color;

    &__icon {
      margin-right: 10px;
    }
  }

  &__buttons {
    display: flex;
  }

  &__buttons > * {
    margin-right: 8px;
  }

  &__buttons > *:last-child {
    margin-right: 0;
  }
}
