@import "src/style/_vars.scss";

.PetitionTabbar {
  height: calc(68px + var(--safe-area-inset-bottom));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: var(--safe-area-inset-bottom) !important;
  z-index: 10;

  &--signed {
    height: calc(102px + var(--safe-area-inset-bottom)) !important;
  }

  &__signed {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $petition-signed-text-color;

    &__icon {
      margin-right: 10px;
    }
  }

  &__buttons {
    display: flex;
    height: 44px !important;

    &__sign {
      &--completed {
        color: $petition-signed-button-text-color;
      }
    }

    & > * {
      margin-right: 8px;
      white-space: nowrap;
    }

    & > *:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 350px) {
  .PetitionTabbar {
    .Button--sz-xl,
    .Button--sz-xl .Button__content {
      padding: 0 !important;;
    }
  }
}
