.EditPetition > .Panel__in {
  padding-bottom: calc(68px + var(--safe-area-inset-bottom)) !important; }

.EditPetition .Snackbar {
  padding-bottom: calc(68px + var(--safe-area-inset-bottom)) !important; }

.EditPetition .PanelHeaderButton {
  color: #AAAEB2 !important; }

.EditForm__input-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.EditForm__input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .EditForm__input-wrapper input {
    flex-grow: 2; }
  .EditForm__input-wrapper .Icon {
    z-index: 2;
    color: #aaaeb3;
    margin-right: 8px; }
