.EditPetition > .Panel__in,
.EditPetition .Snackbar {
  padding-bottom: calc(68px + var(--safe-area-inset-top)) !important; }

.EditForm__input-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
