.EditForm {
  &__card-wrapper {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    &__top {
      margin: 0 !important;
      padding-left: 0 !important;
    }

    &__card {
      &__content {
        height: 164px;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #c4c8cc;

        &__text {
          margin-top: 14px;
          margin-bottom: 14px;
        }
      }
    }
  }
}
