.PetitionProgress__text {
  margin: 0 0 9px 0;
  font-size: 15px;
  color: #76787a;
  text-align: left; }

.PetitionProgress__bar {
  margin: 0 0 12px 0; }
  .PetitionProgress__bar.done > .Progress__in {
    background: #4bb34b; }
  .PetitionProgress__bar.completed > .Progress__in {
    background: #99a2ad; }

.Progress__in {
  max-width: 100%; }
