.PetitionProgress__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px; }
  .PetitionProgress__info__text {
    margin: 0;
    font-size: 15px;
    color: #76787a;
    text-align: left; }
  .PetitionProgress__info__signed {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4bb34b;
    font-size: 15px; }
    .PetitionProgress__info__signed__icon {
      margin-right: 5px; }

.PetitionProgress__bar {
  margin: 0 0 12px 0; }
  .PetitionProgress__bar.done > .Progress__in {
    background: #4bb34b; }
  .PetitionProgress__bar.completed > .Progress__in {
    background: #99a2ad; }

.Progress__in {
  max-width: 100%; }
