:root {
  --splash-screen-card-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.12);
}

body[scheme="space_gray"] {
  --splash-screen-card-shadow: 0 2px 40px 0 rgba(255, 255, 255, 0.12);;
}

.SplashScreen {
  &__buttons {
    &__install {
      margin-top: 8px;
    }
  }

  .Placeholder {
    &__icon {
      width: 100%;
      margin-bottom: 32px !important;
    }

    &__header {
      font-weight: 800;
      font-family: var(--font-tt);
      font-size: 21px;
    }
  }
  .PetitionCard {
    border-radius: 14px;
    box-shadow: var(--splash-screen-card-shadow);
    padding: 18px 16px 13px 16px !important;
    width: 100%;
    margin-left: -15px;
  }

  .FixedLayout--bottom {
    padding-bottom: var(--safe-area-inset-bottom) !important;
  }
}