.Placeholder--ios {
  margin-top: calc(5px + var(--panelheader_height_ios) + var(--safe-area-inset-top)); }

.Placeholder--android {
  margin-top: calc(5px + var(--panelheader_height_android) + var(--safe-area-inset-top)); }

.FeedFooter {
  margin-top: 0 !important; }

.HeaderButton__wrapper {
  width: 100%;
  margin-top: -15px; }

.ManagementFeed .PanelHeaderSimple--android .PanelHeaderSimple__in, .ManagementFeed .PanelHeaderSimple--android .PanelHeaderSimple__content {
  height: calc(48px + var(--panelheader_height_android)) !important; }

.ManagementFeed .PanelHeaderSimple--ios .PanelHeaderSimple__in, .ManagementFeed .PanelHeaderSimple--ios .PanelHeaderSimple__content {
  height: calc(52px + var(--panelheader_height_ios)) !important; }

.ManagementFeed .Separator--ios.PanelHeaderSimple__separator {
  padding-top: 52px !important; }

.ManagementFeed .Separator--android.PanelHeaderSimple__separator {
  padding-top: 48px !important; }

.ManagementFeed__spinner {
  padding-top: 20px !important; }
