.Placeholder {
  &--ios {
    margin-top: calc(5px + var(--panelheader_height_ios) + var(--safe-area-inset-top));
  }

  &--android {
    margin-top: calc(5px + var(--panelheader_height_android) + var(--safe-area-inset-top));
  }
}

.FeedFooter {
  margin-top: 0 !important;
}

.HeaderButton__wrapper {
  width: 100%;
}
.Div--ios.HeaderButton__wrapper {
  margin-top: -15px;
}


.ManagementFeed .PanelHeader--android {
  .PanelHeader__in, .PanelHeader__content {
    height: calc(48px + var(--panelheader_height_android)) !important; // 48px - высота HorizontalScroll с Tabs внутри на Android
    margin-top: -16px !important;
  }
}

.ManagementFeed .PanelHeader--ios {
  .PanelHeader__in, .PanelHeader__content {
    height: calc(52px + var(--panelheader_height_ios)) !important; // 52px - высота кнопки на iOS
  }
}

.ManagementFeed .Separator--ios.PanelHeader__separator {
  padding-top: 52px !important; // 33px - высота HorizontalScroll с Tabs внутри на iOS
}

.ManagementFeed .Separator--android.PanelHeader__separator {
  padding-top: 48px !important; // 48px - высота HorizontalScroll с Tabs внутри на Android
}

.ManagementFeed {
  &__spinner {
    padding-top: 20px !important;

    &__bottom {
      margin-bottom: 30px;
    }
  }
}