@import "src/style/_vars.scss";

.Petition {
  &__header .PanelHeaderSimple__in {
    background: transparent;
  }

  &__info {
    padding-bottom: 20px;
    &--ios {
      margin-top: calc(180px - var(--panelheader_height_ios) - var(--safe-area-inset-top));
    }

    &--android {
      margin-top: calc(180px - var(--panelheader_height_android) - var(--safe-area-inset-top));
    }
  }

  &__info h1 {
    font-size: 20px;
    margin: 0 0 14px 0 !important;
  }

  &__creator {
    margin-top: 5px;
    margin-bottom: 72px; // 34px

    &__link {
      font-weight: 600;
      margin-right: 4px;
    }
  }

  &__creator .Cell__children {
    font-size: 14px;
    color: $petition-creator-text-color;
  }
}

.test {
  width: 100%;
  height: 180px;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.test img {
  width: 100%;
}

.test:before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
}

.PullToRefresh__controls {
  position: absolute;
  top: 0;
}
