.Petition__header .PanelHeaderSimple__in {
  background: transparent; }

.Petition__info {
  padding-bottom: 20px; }
  .Petition__info--ios {
    margin-top: calc(180px - var(--panelheader_height_ios) - var(--safe-area-inset-top)); }
  .Petition__info--android {
    margin-top: calc(180px - var(--panelheader_height_android) - var(--safe-area-inset-top)); }

.Petition__info h1 {
  font-size: 20px;
  margin: 0 0 14px 0 !important; }

.Petition__creator {
  margin-top: 5px;
  margin-bottom: 72px; }
  .Petition__creator__link {
    font-weight: 600;
    margin-right: 4px; }

.Petition__creator .Cell__children {
  font-size: 14px;
  color: #76787a; }

.test {
  width: 100%;
  height: 180px;
  position: absolute;
  top: 0;
  overflow: hidden; }

.test img {
  width: 100%; }

.test:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0)); }

.PullToRefresh__controls {
  position: absolute;
  top: 0; }
