.PetitionsTabs {
  transition: 1s !important;
  z-index: 999 !important; }
  .PetitionsTabs--ios {
    margin-top: -15px !important; }
  .PetitionsTabs__wrapper {
    width: 100%; }
    .PetitionsTabs__wrapper--ios {
      margin-top: -15px; }

.PetitionsFeed .PanelHeaderSimple--android__in, .PetitionsFeed .PanelHeaderSimple--android__content {
  height: calc(48px + var(--panelheader_height_android)) !important; }

.PetitionsFeed .PanelHeaderSimple--android .PanelHeaderSimple__separator {
  margin-top: 28px !important; }

.PetitionsFeed .PanelHeaderSimple--ios__in, .PetitionsFeed .PanelHeaderSimple--ios__content {
  height: calc(33px + var(--panelheader_height_ios)) !important; }

.PetitionsFeed .PanelHeaderSimple--ios .PanelHeaderSimple__separator {
  margin-top: 33px !important; }

.PetitionsFeed .Panel__in {
  padding-bottom: calc(var(--tabbar_height) + var(--safe-area-inset-bottom)) !important; }

.PetitionsFeed__spinner {
  margin-top: 20px; }

.FeedFooter {
  margin-top: 0 !important; }
