.PetitionsTabs {
  z-index: 999 !important; }
  .PetitionsTabs__wrapper {
    width: 100%; }
    .PetitionsTabs__wrapper--ios {
      top: calc(37px + var(--safe-area-inset-top)) !important; }
    .PetitionsTabs__wrapper--android {
      top: calc(40px + var(--safe-area-inset-top)) !important; }

.View--animated .PetitionsTabs__wrapper--android {
  margin-top: 16px !important; }

.PetitionsFeed .PanelHeader--android .PanelHeader__in, .PetitionsFeed .PanelHeader--android .PanelHeader__content {
  height: calc(48px + var(--panelheader_height_android)) !important;
  margin-top: -16px !important; }

.PetitionsFeed .PanelHeader--ios .PanelHeader__in, .PetitionsFeed .PanelHeader--ios .PanelHeader__content {
  height: calc(33px + var(--panelheader_height_ios)) !important; }

.PetitionsFeed .PanelHeader--ios .PanelHeader__in, .PetitionsFeed .PanelHeader--ios .PanelHeader__content {
  height: calc(33px + var(--panelheader_height_ios)) !important; }

.PetitionsFeed .Separator--ios.PanelHeader__separator {
  padding-top: 33px !important; }

.PetitionsFeed .Separator--android.PanelHeader__separator {
  padding-top: 32px !important; }

.PetitionsFeed .Panel__in {
  padding-bottom: calc(var(--tabbar_height) + var(--safe-area-inset-bottom)) !important; }

.PetitionsFeed__spinner {
  margin-top: 20px; }
  .PetitionsFeed__spinner__bottom {
    margin-bottom: 30px; }

.FeedFooter {
  margin-top: 0 !important; }
