.PetitionsTabs--ios {
  top: calc(var(--panelheader_height_ios) + var(--safe-area-inset-top) - 15px) !important; }

.PetitionsTabs--android {
  top: calc(var(--panelheader_height_android) + var(--safe-area-inset-top) - 15px) !important; }

.PetitionsTabs__wrapper {
  width: 100%;
  margin-top: -15px; }

#feed .PanelHeaderSimple--ios::before, #feed .PanelHeaderSimple--ios, #feed .PanelHeaderSimple__in {
  height: calc(33px + var(--panelheader_height_ios)) !important; }

#feed .PanelHeaderSimple__content {
  margin-top: -33px; }

#feed .PullToRefresh {
  margin-top: calc(6px + var(--safe-area-inset-top)); }
