.PetitionsTabs {
  transition: 1s !important;
  z-index: 999 !important;

  &--ios {
    margin-top: -15px !important;
  }
  //
  //&--android {
  //  top: calc(var(--panelheader_height_android) + var(--safe-area-inset-top) - 15px) !important;
  //}
  //
  &__wrapper {
    width: 100%;
    margin-top: -15px;
  }
}

.petitions_feed .PanelHeaderSimple {
  &__in, &__content {
    height: calc(33px + var(--panelheader_height_ios)) !important; // 33px - высота HorizontalScroll с Tabs внутри
  }
  &__separator {
    margin-top: 33px !important;
  }
}

.petitions_feed {
  & .Panel__in {
    padding-bottom: calc(var(--tabbar_height) + var(--safe-area-inset-bottom)) !important;
  }

}

.FeedFooter {
  margin-top: 0 !important;
}
