.PetitionsTabs {
  &--ios {
    top: calc(var(--panelheader_height_ios) + var(--safe-area-inset-top) - 15px) !important;
  }

  &--android {
    top: calc(var(--panelheader_height_android) + var(--safe-area-inset-top) - 15px) !important;
  }

  &__wrapper {
    width: 100%;
    margin-top: -15px;
  }
}

#feed .PanelHeaderSimple {
  &--ios::before,
  &--ios,
  &__in {
    height: calc(33px + var(--panelheader_height_ios)) !important; // 33px - высота HorizontalScroll с Tabs внутри
  }

  &__content {
    margin-top: -33px; // 33px - высота HorizontalScroll с Tabs внутри
  }
}

.PetitionsFeed {
  margin-top: calc(6px + var(--safe-area-inset-top));
}
