.PetitionModal {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);
    text-align: center;

    &__text {
      font-size: 14px;
      margin: 10px auto 0 auto;
    }
  }
}

.SelectUsers {
  &__search,
  &__list {
    margin-top: var(--panelheader_height_ios) !important;
  }

}
