* {
  font-family: -apple-system, BlinkMacSystemFont, Arial, Roboto, Open Sans, Helvetica Neue, Roboto, sans-serif !important; }

body {
  user-select: none;
  margin: 0;
  padding: 0;
  background: #FFF;
  color: #000;
  direction: ltr;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: none; }

/* total width */
*::-webkit-scrollbar {
  background-color: #fff;
  width: 10px; }

*::-webkit-scrollbar-track {
  background-color: #fff; }

*::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 2px solid #fff; }

*::-webkit-scrollbar-button {
  display: none; }

body[scheme="space_gray"] {
  --background_page: #0a0a0a; }

.PanelHeader__content {
  overflow: visible; }

button::-moz-focus-inner {
  border: 0; }

.PetitionModal {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .PetitionModal__button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);
    text-align: center; }
    .PetitionModal__button-wrapper__button {
      width: 76px;
      height: 52px;
      border-radius: 26px; }
    .PetitionModal__button-wrapper__text {
      font-size: 14px;
      margin: 10px auto 0 auto; }

.SelectUsers__search, .SelectUsers__list {
  margin-top: var(--panelheader_height_ios) !important; }

.SelectUsers__spinner > .Placeholder__in {
  padding-top: 20px !important; }
